:root {
  --output-text-color: #fff;
  --parser-text-nonlink: #fff;
}

.dark {
  --output-text-color: var(--body-text-color);
  --parser-text-nonlink: var(--body-text-color);
}

html {
  scrollbar-width: none;
}

body {
  position: absolute;
  background: var(--background-fill-primary);
}

body > gradio-app {
  background: transparent !important;
}

body > div > div > main,
body > gradio-app > .gradio-container {
  max-width: 100% !important;
}

body > gradio-app footer,
#SDImageInfo-Image > .image-container button:nth-child(1){
  display: none !important;
}

#SDImageInfo-Image > .image-container {
  width: 100% !important;
}

#SDImageInfo-Column {
  background: transparent;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  margin: 0;
  padding: 0;
}

#SDImageInfo-Image {
  height: unset !important;
  width: 40vw;
  display: flex;
  flex-grow: 3 !important;
  position: relative;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #000 !important;
  background: var(--input-background-fill);
  border-radius: 0.8rem !important;
  overflow: hidden !important;
}

#SDImageInfo-Image.img-enter {
  position: fixed;
  inset: 0;
  height: 100% !important;
  width: 100% !important;
}

#SDImageInfo-Image img {
  display: flex;
  cursor: auto;
  position: fixed;
  inset: 0;
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 1s ease;
}

#SDImageInfo-Image-Frame {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 0 0 8px 5px #000;
}

#SDImageInfo-Image.img-enter #SDImageInfo-Image-Frame {
  display: flex;
}

#SDImageInfo-Image > .image-container button:nth-child(2) {
  position: relative;
  height: 47px;
  width: 47px;
  margin: 0;
  gap: 0;
  padding: 4px;
  border-radius: 0 1rem 0 1rem;
  box-sizing: border-box;
  border: 2px solid #000;
  color: var(--primary-400) !important;
  background: var(--input-background-fill);
  box-shadow: 0 0 4px 1px #000;
  transition: 0.2s ease;
}

#SDImageInfo-Image > .image-container button:nth-child(2) > div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
}

#SDImageInfo-Image > .image-container button:nth-child(2) path {
  stroke-width: 5px !important;
}

#SDImageInfo-Image > .image-container button:nth-child(2):hover {
  color: var(--background-fill-primary) !important;
  background: var(--button-primary-background-fill);
  border-color: var(--background-fill-primary);
  filter: drop-shadow(0 0 4px var(--primary-400));
  box-shadow: 0 0 5px 1px var(--primary-400);
}

#SDImageInfo-OutputPanel {
  display: none;
  position: fixed;
  margin-top: 5%;
  padding: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: transparent;
  transition: opacity 0.2s ease;
}

#SDImageInfo-OutputPanel.display-output-panel {
  display: flex;
  opacity: 1;
}

#SDImageInfo-HTML {
  overflow-wrap: break-word;
  max-width: 100%;
  margin-bottom: -0.5rem !important;
  padding: 10px !important;
  border-radius: 0.8rem !important;
  pointer-events: auto;
  position: relative;
}

.gradio-container-4-40-0 #SDImageInfo-OutputPanel {
  margin-left: -10px;
}

#SDImageInfo-ModelOutput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  height: auto;
  cursor: default;
  pointer-events: auto;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-section {
  color: var(--output-text-color);
  border: 0;
  margin-bottom: 8px;
  background: transparent;
  filter: drop-shadow(0px 0px 6px #000);
  cursor: default;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-title {
  display: flex;
  position: relative;
  z-index: 2;
  font-weight: bold;
  cursor: default;
  width: max-content;
  font-size: 15px;
  text-align: center;
  color: var(--primary-400);
  justify-content: flex-start;
  margin: 0;
  border: 2px solid transparent;
  border-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 4px 8px;
  background: rgba(36, 36, 36, 0.7);
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-copybutton {
  cursor: pointer;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-copybutton:hover {
  color: var(--background-fill-primary);
  background: var(--primary-400);
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 9px var(--primary-400));
}

#SDImageInfo-Seed-Button:hover {
  color: var(--primary-600) !important;
}

#SDImageInfo-Seed-Button {
  color: var(--primary-400);
  cursor: pointer;
  transition: color 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-wrapper {
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  background: rgba(36, 36, 36, 0.7);
  transition: 0.4s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-content {
  line-height: 1.7;
  margin: 0;
  padding: 5px 8px;
  border: 1px solid transparent;
  cursor: default;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  transition: 0.3s ease;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-section.sdimageinfo-modelbox {
  border: 0;
  padding: 0;
  background: 0;
  transition: none;
  box-shadow: none;
}

#SDImageInfo-OutputPanel .sdimageinfo-output-section.sdimageinfo-modelbox:hover {
  background-color: transparent;
}

#SDImageInfo-OutputPanel .sdimageinfo-display-model-output {
  animation: undressBox 1s forwards ease-out;
}

.sdimageinfo-borderpulse {
  animation: pulseBorder 2s infinite alternate forwards;
}

@keyframes pulseBorder {
  0% {
    border-color: transparent;
    filter: drop-shadow(0 0 0 var(--primary-400));
    box-shadow: inset 0 0 0 0 transparent;
  }
  25% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 2px var(--primary-400));
    box-shadow: inset 0 0 10px 0 var(--primary-400);
  }
  50% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 5px var(--primary-400));
    box-shadow: inset 0 0 5px 0 var(--primary-400);
  }
  75% {
    border-color: var(--primary-400);
    filter: drop-shadow(0 0 2px var(--primary-400));
    box-shadow: inset 0 0 10px 0 var(--primary-400);
  }
  100% {
    border-color: transparent;
    filter: drop-shadow(0 0 0 var(--primary-400));
    box-shadow: inset 0 0 0 0 transparent;
  }
}

#SDImageInfo-SendButton {
  display: none;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  margin-left: 8px;
  padding: 3px !important;
  width: max-content;
  pointer-events: auto;
  grid-template-columns: 1fr !important;
  justify-content: center;
  align-items: center;
}

#SDImageInfo-SendButton button {
  border: 1px solid #000;
  position: relative;
  padding: 6px 20px;
  border-radius: 1rem;
  box-shadow: 0 0 5px 1px #000;
  transition: 0.2s ease;
}

#SDImageInfo-SendButton button:hover {
  box-shadow: 0 0 5px 1px var(--primary-400);
  filter: drop-shadow(0 0 9px var(--primary-400));
  border-color: var(--background-fill-primary);
  color: var(--background-fill-primary);
  background: var(--button-primary-background-fill);
}

#refresh-spinner {
  color: var(--primary-400);
  margin: 0 auto;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes undressBox {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#SDImageInfo-Image-Viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  transition: opacity 0.4s ease;
}

#SDImageInfo-Image-Viewer-Wrapper {
  display: flex;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  transform: translate(0px, 0px) scale(0);
}

#SDImageInfo-Image-Viewer-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.1s ease;
}

/* ############################################################################################################ */

.sd-image-parser-modeloutput-line {
  display: flex;
  padding: 0px;
  gap: 0.5rem;
  border-radius: 1rem;
}

.sd-image-parser-modeloutput-label,
.sd-image-parser-modeloutput-hashes {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  box-sizing: border-box;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.sd-image-parser-modeloutput-label {
  width: 16%;
  background-color: var(--input-background-fill);
  font-size: 15px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.sd-image-parser-modeloutput-hashes {
  width: 84%;
  overflow-wrap: break-word;
  column-gap: 7px;
  row-gap: 0px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1), 0 0 5px 0 rgba(255, 255, 255, 0.2), inset 0 0 5px 0 rgba(255, 255, 255, 0.2);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  align-items: flex-start;
}

.sd-image-parser-modeloutput-hashes .sd-image-parser-link {
  font-size: 13px;
  color: var(--body-text-color) !important;
  text-decoration: none !important;
  border: 1px solid var(--primary-600) !important;
  padding: 2px 7px;
  margin: 3px 0;
  background-color: var(--panel-background-fill) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
  font-weight: normal;
  transition: 0.1s ease-out;
}

.sd-image-parser-modeloutput-hashes .sd-image-parser-link:hover {
  color: #000 !important;
  background: var(--primary-400) !important;
  box-shadow: 0 0 10px 0px var(--primary-400);
  filter: drop-shadow(0 0 1px var(--primary-400));
}

.sd-image-parser-modeloutput-hashes .sd-image-parser-nonlink {
  color: var(--parser-text-nonlink);
  font-size: 14px;
  border: 1px solid transparent;
  padding: 2px 3px;
  margin: 3px 0;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
